html,
body{
    height: 100%;
    width: 100%;
    /* overflow-x : hidden; */
    background-color: #000000;
}
html, body, h1, h2, h3, h5, h6, p{
  font-family: 'DM Sans', sans-serif;
}
.navbar{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-top: 2px;
    padding-bottom: 2px;
}
.site-header {
  background-color: rgba(37, 37, 37, .8);
  -webkit-backdrop-filter: saturate(180%) blur(100px);
  backdrop-filter: saturate(180%) blur(100px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}
.overflow-hidden { overflow: hidden; }
.box-item{
  height: 500px;
}

/* Custom text CSS */
.text-bold{
  font-weight: 700;
}
.text-regular{
  font-weight: 400;
}
.text-semibold{
  font-weight: 500;
}
.text-green{
  color: #82c31b;
}
.color-black{
  color: #000000;
}
.color-white{
  color: white;
}
.color-green{
  background-color: #82c31b;
}
.text-shadow{
  text-shadow: 0px 0px 19px rgba(0,0,0,0.17);
}
.text-gradient{
  background: #12c2e9;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box-shadow{
  box-shadow: 0px 0px 19px rgba(255, 255, 255, 0.25);
}
.background-dark{
  background-color: #202020;
}
.profile{
  margin-top: 5em;
}
#university-text{
  background: #ff3c3c;  /* fallback for old browsers */
  
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
}
.java{
  background: #00d2ff; /* fallback for old browsers */
  /* box-shadow: 0px 0px 10px #5de1ff; */
}
.python{
  background: #38ef7d;  /* fallback for old browsers */
                  
}
.javascript{
  background: #FC5C7D;  /*fallback for old browsers */
}
.html{
  background: #FF8C00;  /* fallback for old browsers */

}

.item-1{
  background-image: url('/images/inHanguk_intro.png');
  background-position-y: 70%;
  background-repeat: no-repeat;
  background-size: contain;
}
.item-2{
  background-image: url('/images/fluence-main.png');
  background-position-y: 70%;
  background-position-x: center;
  background-size: 80%;
  /* background-size: contain  ; */
  background-repeat: no-repeat;
}
.item-3{
  background-image: url('/images/logo_black.png');
  background-position-y: 60%;
  background-position-x: center;
  background-size: 60%;
  background-repeat: no-repeat;
}
.item-4{
  background-image: url('/images/TotoroBack.jpg');
  background-position-y: 70%;
  background-position-x: center;
  background-size: 40%;
  background-repeat: no-repeat;
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}