html,
body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
html, body, h1, h2, h3, h5, h6, p{
  font-family: 'DM Sans', sans-serif;
}
.navbar{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
}

.box-item{
  height: 500px;
}
.box-space{
  padding-top: 100px;
  padding-bottom: 100px;

}
/* Custom text CSS */
.text-bold{
  font-weight: 700;
}
.text-regular{
  font-weight: 400;
}
.text-semibold{
  font-weight: 500;
}
.text-green{
  color: #82c31b;
}
.text-white{
  color: #E5E5E5;
}
.text-black{
  color: #000000;
}
.color-white{
  color: white;
}
.color-green{
  background-color: #82c31b;
}
.text-shadow{
  text-shadow: 0px 0px 100px rgba(82, 82, 82, 0.1);
}
.text-gradient{
  background: #12c2e9;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #ca4049, #c471ed, #11b2d6);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #f64f59, #a65fc9, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box-shadow{
  box-shadow: 0px 0px 19px rgba(255, 255, 255, 0.25);
}
.background-dark{
  background-color: #FFFFFF;
}
.profile{
  margin-top: 5em;
}
#university-text{
  background: #ff3c3c;  /* fallback for old browsers */
  
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
}
.java{
  background: #FFFFFF; /* fallback for old browsers */
  /* box-shadow: 0px 0px 10px #5de1ff; */
}
.python{
  background: #FFFFFF;  /* fallback for old browsers */                
}
.javascript{
  background: #FFFFFF;  /*fallback for old browsers */
}
.html{
  background: #FFFFFF;  /* fallback for old browsers */
}

.card-inhanguk{
height: 550px;
margin: 0, 0, 10px, 10px;
padding-top: 40px;
background-image: url(/images/inhanguk-card.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.card-fluence{
height: 550px;
margin: 0, 0, 10px, 10px;
padding-top: 40px;
background-image: url(/images/fluence-card.png);
background-position-y: 60%;
background-position-x: 50%;
background-repeat: no-repeat;
background-size: contain;
background-color: #FFFFFF;
}

.card-arvizon{
height: 550px;
margin: 0, 0, 10px, 10px;
padding-top: 40px;
background-image: url(/images/arvizon-card.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.card-art{
height: 550px;
margin: 0, 0, 10px, 10px;
padding-top: 40px;
background-image: url(/images/art-card.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

@media (max-width: 768px) {
.card-fluence{
  background-image: url(/images/fluence-card-sm.png);
  background-position-y: 60%;
  background-repeat: no-repeat;
  background-size: contain;
}
}

@media (max-width: 1200px) {
  legend {
    font-size: calc(1.275rem + 0.3vw);
  }
  h1,
  .h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  h2,
  .h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
  h3,
  .h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
  h4,
  .h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
  .display-1 {
    font-size: calc(1.725rem + 5.7vw);
  }
  .display-2 {
    font-size: calc(1.675rem + 5.1vw);
  }
  .display-3 {
    font-size: calc(1.575rem + 3.9vw);
  }
  .display-4 {
    font-size: calc(1.475rem + 2.7vw);
  }
  .close {
    font-size: calc(1.275rem + 0.3vw);
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}