html,
body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
html, body, h1, h2, h3, h5, h6, p{
  font-family: 'Quicksand', sans-serif;
}
.navbar{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
}
.box-space{
  margin-top: 100px;
  margin-bottom: 100px;
}
/* Custom text CSS */
.text-bold{
  font-weight: 700;
}
.text-regular{
  font-weight: 500;
}
.text-semibold{
  font-weight: 600;
}
.text-purple{
  color: #8c11ff;
}
.text-white{
  color: #E5E5E5;
}
.text-black{
  color: #000000;
}
.text-shadow{
  text-shadow: 0px 0px 100px rgba(82, 82, 82, 0.1);
}
.text-yellow{
  color: #fffd66;
}
.background-purple{
  background-image: linear-gradient(to right, #9000ff, #4848f6);
}
.background-yellow{
  background-color: #fffd66;
}
.background-black{
  background-color: #202020;
}
.bg-pattern{
  background-image: url("/images/pattern.png");
}
.text-gradient{
  background: #8c11ff;  /* fallback for old browsers */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box-shadow{
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.box-rounded{
  border-radius: 20px;
}
.profile{
  margin-top: 5em;
}
.card-inhanguk{
height: 550px;
margin: 0, 0, 10px, 10px;
padding-top: 40px;
background-image: url(/images/inhanguk-card.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.card-link{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.card-fluence{
height: 550px;
margin: 0, 0, 10px, 10px;
padding-top: 40px;
background-image: url(/images/fluence-card.png);
background-position-y: 60%;
background-position-x: 50%;
background-repeat: no-repeat;
background-size: contain;
background-color: #FFFFFF;
}
.card-arvizon{
height: 550px;
margin: 0, 0, 10px, 10px;
padding-top: 40px;
background-image: url(/images/arvizon-card.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.card-art{
height: 550px;
margin: 0, 0, 10px, 10px;
padding-top: 40px;
background-image: url(/images/art-card.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.btn-purple{
  background-image: linear-gradient(to right, #9000ff, #4848f6);
  color: #FFFFFF;
  transition: 0.2s;
}
.btn-purple:hover{
  color: rgb(230, 230, 230);
  background-image: linear-gradient(to right, #5d00a5, #2c2c94);
}
.instagram-logo{
  height: calc(1.375rem + 1.5vw);
  display: inline-flex;
  align-self: center;
}
@media (max-width: 768px) {
.card-fluence{
  background-image: url(/images/fluence-card-sm.png);
  background-position-y: 60%;
  background-repeat: no-repeat;
  background-size: contain;
}
}
@media (max-width: 1200px) {
  legend {
    font-size: calc(1.275rem + 0.3vw);
  }
  h1,
  .h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  h2,
  .h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
  h3,
  .h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
  h4,
  .h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
  .display-1 {
    font-size: calc(1.725rem + 5.7vw);
  }
  .display-2 {
    font-size: calc(1.675rem + 5.1vw);
  }
  .display-3 {
    font-size: calc(1.575rem + 3.9vw);
  }
  .display-4 {
    font-size: calc(1.475rem + 2.7vw);
  }
  .close {
    font-size: calc(1.275rem + 0.3vw);
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .box-space{
    margin-bottom: 150px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}