/*CSS for Main Page*/
html,body,h1,h2,h3,h4,h5{
    font-family: 'Montserrat', sans-serif;
}
.header-main {
    background: url(images/header-main.jpg) no-repeat, center, center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height:  height: 100%;
    min-width: 100%;
}

.text-bold{
    font-weight: 700;
}
.text-semibold{
    font-weight: 600;
}
.text-regular{
    font-weight: 500;
}
.text-light{
    font-weight: 400;
}
.text-green{
    color: #82c31b;
}
.color-green{
    background-color: #82c31b;
}