/*CSS for Main Page*/
html,body,h1,h2,h3,h4,h5{
    font-family: 'Montserrat', sans-serif;
}
body{
    height: 100%;
}

.text-bold{
    font-weight: 700;
}
.text-semibold{
    font-weight: 600;
}
.text-regular{
    font-weight: 500;
}
.text-light{
    font-weight: 400;
}
.text-height{
    line-height: 1.5em;
}
.text-green{
    color: #82c31b;
}
.text-black{
    color: black;
}
.color-black{
    background-color: black;    
}
.color-green{
    background-color: #82c31b;
}
.box-shadow{
    box-shadow: 0px 0px 19px rgba(0,0,0,0.25);
}

/* Custom CSS */

.carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 40rem;
  }
#carousel-back-1{
    background:  url(/images/naeun-hospital/naeun-main.jpg) no-repeat top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 40rem;

}
#carousel-back-2{
    background: url(/images/naeun-hospital/naeun-lounge.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 40rem;

}
#carousel-back-3{
    background: url(/images/naeun-hospital/naeun-hall.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 40rem;

}
 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
   
}